#repositorios,
#favoritos {
  max-height: 550px;
  overflow-y: auto;
}

#repositorios > .card-body,
#favoritos > .card-body {
  height: 550px;
}

.card-user .card-body > div:last-child {
  border: 0 !important;
}
